@charset "UTF-8";
/* section Accueil */

body{   margin: 0;
        padding: 0;     }



 #accueil header{background: url('../images/Home_BannerTop.jpg') no-repeat right bottom fixed ;
  -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   height:800px;
    }
#accueil img{max-width:80%;}   /*logo et ruban*/

.navbar-default{
              background-color:#7A909C;         /*barre de navigation*/
              height:66px;    }

#accueil a{color:white;
          text-transform: uppercase;}

#accueil .btn{font-size: 20px;
              padding: 21px;}

#accueil .btn-defaut{font-size: 20px;     /*bouton En*/
                    background-color: #313832;
                    text-align:center;  }

#accueil .btn-defaut:hover{background-color: #536164;}

#accueil .navbar-brand{height:66px;}

#accueil .ruban{margin-top: 7%;
                margin-bottom: 4%;         }

#accueil div  p.maj{
                    text-transform: uppercase;
                    color:#0C3183;
                    font-size: 24px;
                    font-weight: bold;
                    margin-top: 1%;
                    text-align: center;
                  }

          /*compteur*/
 .compteur div{
              /*  float:left;*/
                display:inline-block;
                margin-right:2px;  /*pour séparer les div (case)*/
                box-sizing: border-box;
                width:60px;
                height: 60px;
                text-align: center;
                background-color: #7A909C;
                opacity:0.8;
                color:white;
                line-height: 0px;
              }

#accueil .compteur div h3{margin-top: 10px;   /*chiffre*/
                                      margin-bottom: 2px;
                                      font-weight: bold;}
.imgdeco{
  text-align: center;
}
 .compteur div p{margin-top: 4px;}  /*distance entre texte et chiffre*/

#accueil div.compteur{font-size:14px;  /*texte de la case*/
                    }
#accueil .compteur{  text-align: center;}


            /*bannière texte déroulant*/
#accueil .bg{
              background-color: #313832;
              height:95px;
              padding:1.5%;
              color:white;
              font-size: 32px;
              text-align: center;}


/* fin section Accueil */

/* section Foire */

#foire img{  max-width: 83%;
             margin-top:5%;
             margin-bottom: 5%;
             float: right;
             }

#foire .texte_titre{text-align: center;}

#foire .texte_titre h1{text-transform: uppercase;
                      font-weight: bold;
                      color:#0C3183;
                      margin-top: 3%;}

#foire .texte_titre h2{font-family: 'PT Sans', sans-serif;
                      font-weight: bold;
                      color: #6D1415;
                      margin-bottom: 3%;}

#foire div.texte{ margin: 6% 0 0 0;}

#foire div.texte h3{color:#536164;
                    font-weight: bold;
                    font-size: 28px;
                    margin-bottom: 5%;
                    }

#foire div.texte p{font-size: 22px;
                  color:#536164;
                  float: left;
                }





/* fin section Foire */

/* section Forfaits */

#forfaits {
  background-color: #D3DAE2;
  padding: 25px 0px 25px 0px;
}
#forfaits h1 {
  text-align: center;
  color: #0C3183;
  text-transform: uppercase;
  font-weight: bold;
}
#forfaits h2 {
  text-align: center;
  font-family: 'PT Sans', sans-serif;
  color: #6D1415;
  padding-bottom: 25px;
  font-weight: bold;
}

/* affichage description des forfaits */
.blanc{
    background-color: white;
}

/* présentation des forfaits */
#forfaits h3, #forfaits h4 {
  color: #0C3183;
  font-size: 200%;
}
#forfaits h4 {
  font-weight: bold;
}
article>div:nth-child(2)>img {
  display: block;
  margin: 0 auto;
  margin-top: 10%;
}
p.glace, p.aqualumiere, p.ski, p.adrenaline, p.folklore, p.musee, p.carnaval {
  font-size: 150%;
  font-weight: bold;
}

/* images des forfaits, ne pas influencer l'image décoration */
img.glace, img.aqualumiere, img.ski, img.adrenaline, img.folklore, img.musee, img.carnaval {
	width: 100%;
  padding-top: 10px;
}

/* présentation des descriptions de forfait*/
#glace p, #aqualumiere p, #ski p, #adrenaline p, #folklore p, #musee p, #carnaval p {
  font-weight: bold;
  color: #7A909C;
}
#glace, #aqualumiere, #ski, #adrenaline, #folklore, #musee, #carnaval {
  padding-top: 25px;
}
#forfaits ul {
  padding-left: 15px;
}
#forfaits li {
  color: #7A909C;
}

#forfaits article {cursor:pointer; cursor:hand}


/* descriptions des forfaits non visibles à l'ouverture */
div#glace, div#aqualumiere, div#ski, div#adrenaline, div#folklore, div#musee, div#carnaval {
	display: none;
}

/* positions des présentations et descriptions inversées pour chaque forfait */
article:nth-child(odd) div {
	float: left;

}
article:nth-child(odd) h3, article:nth-child(odd) h4, article:nth-child(odd)>div>p {
  text-align: left;
  margin-left: 15px;
}
article:nth-child(even) div {
	float: right;
}
article:nth-child(even) h3, article:nth-child(even) h4, article:nth-child(even)>div>p {
  text-align: right;
  margin-right: 15px;
}

/* position des prix */
#prix1, #prix2, #prix3, #prix4, #prix5, #prix6, #prix7 {
  width:90%;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* texte 'usage pédagogique' */
#forfaits>p:last-child {
  text-align: center;
  color: #6D1415;
  padding-top: 25px;
}

/* fin section Forfaits */

/* section Tirage */

#tirage {
  padding: 25px 0px 25px 0px;
}
#tirage h1 {
  text-align: center;
  color: #0C3183;
  text-transform: uppercase;
  font-weight: bold;
}
#tirage h2 {
  text-align: center;
  font-family: 'PT Sans', sans-serif;
  color: #6D1415;
  padding-bottom: 25px;
  font-weight: bold;
}
#tirage p {
  color: #7A909C;
  font-size: 200%;
  font-weight: bold;
  padding-top: 25px;
}
#tirage img {
  padding-top: 25px;
  padding-bottom: 25px;
  width: 100%;
  margin: auto;
}

/* fin section Tirage */

/* section Contact */

/* ??? changer la largeur avec les media queries pour les plus petits écrans? */

#contact {
  background-color: #D3DAE2;
  padding: 25px 0px 25px 0px;
  font-weight: bold;
}
#contact h1 {
  text-align: center;
  color: #0C3183;
  text-transform: uppercase;
  font-weight: bold;
}
#contact h2 {
  text-align: center;
  font-family: 'PT Sans', sans-serif;
  color: #6D1415;
  padding-bottom: 25px;
  font-weight: bold;
}

#contact img {
  padding-top: 25px;
  padding-bottom: 25px;
  /*width: 80%;
  margin: auto;*/
}
/* modification, images réseaux sociaux */
 img.initial, img.onhover {
   /*display: inline-block;*/
   /*margin: auto;*/
   width: 50%;
   /*margin: auto;*/
}

/* pour demande informations */
#contact form {
  /*padding-top: 25px;*/
}
#contact fieldset {
  /*color: white;*/
  /*background-color: grey;*/
}
#contact input, #contact textarea {
  background-color: grey;
  width: 100%;
  margin : 10px;
}

/* pour réseaux sociaux */
/* changemenent de couleur on hover */
.onhover {
  display: none;
}
#facebook:hover img.initial, #linked:hover img.initial, #twitter:hover img.initial, #google:hover img.initial, #youtube:hover img.initial, #pinterest:hover img.initial {
  display: none;
}
#facebook:hover img.onhover, #linked:hover img.onhover, #twitter:hover img.onhover, #google:hover img.onhover, #youtube:hover img.onhover, #pinterest:hover img.onhover {
  display: block;
}

#demandeInfo {
  padding: 25px;
  margin-top: 25px;
}

#demandeInfo p {
  background-color: grey;
  padding: 10px;
}

.centerText {
  text-align: center;
}

/* fin section Contact */

/* section Footer */

#footer {
  background-color: white;
  padding: 25px 25px 25px 25px;
  text-align: center;
}

#footer img {
  width: 90%;
  margin: auto;
}

/* fin section Footer */

/* media queries */

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

  #accueil .btn, .btn-defaut{font-size: 16px;}
  #accueil .btn-defaut{  background-color: #313832;}
  #accueil div.compteur{font-size:14px;   }         /*texte de la case*/
  #accueil div  p.maj{ font-size: 20px;
                      box-sizing: border-box;
                    }
  #foire div.texte p{font-size: 16px;}
  #foire div.texte h3{font-size: 22px;
    margin-bottom: 3%;}

 }

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)  {

  #accueil .btn, .btn-defaut{font-size: 10px;}
  #accueil .btn-defaut{  background-color: #313832;}
  #accueil .bg {font-size: 24px;
  padding-top: 3%;}
  #accueil div.compteur{font-size:14px;   }         /*texte de la case*/
  #accueil div  p.maj{ font-size: 22px;
                      text-shadow: 1px 1px 2px black, 0 0 2px #0C3183, 0 0 5px #0C3183;
                      color:white;
                      text-align: center;
                      padding:0;  }
  #foire div.texte{margin-top: 4%;}
  #foire div.texte h3{font-size: 16px;
  margin-bottom: 4%;}
  #foire div.texte p{font-size: 14px;}


  /* images et titres superposés pour chaque forfait */
  article:nth-child(odd) div {
    float: none;
  }
  article:nth-child(even) div {
    float: none;
  }


}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px)  {
#accueil header{
  background-position: center bottom;
  }

  #accueil .btn, .btn-defaut{font-size: 10px;
                  background-color: #7A909C;}

  #accueil .btn-defaut{  background-color: #313832;}
  #accueil .ruban{margin-top: 13%;
                  margin-bottom: 5%;
                   }
  #accueil .bg {font-size: 22px;
              padding-top: 3%;}
  #accueil .compteur div{width: 58px;
                          height:58px;}
  #accueil .compteur div h3{      /*chiffre*/
                            font-size: 30px;
                            margin-bottom: 4px;}
  #accueil div.compteur { font-size: 16px;}


  #accueil div  p.maj{ font-size: 22px;
                        text-shadow: 1px 1px 2px black, 0 0 2px #0C3183, 0 0 5px #0C3183;
                        color:white;
                        text-align: center;}

  #accueil div:last-child{ text-align: center;}
  #foire img{margin-right:10%;}
  #foire .texte_titre h1{font-size: 30px;}
  #foire .texte_titre h2{font-size: 24px;}
  #foire div.texte h3{font-size: 28px; margin-right: 0;
  text-align: center;}
  #foire div.texte p{font-size: 22px; margin-right: 0;}

  /* modification, images réseaux sociaux */
   img.initial, img.onhover {
    width: 100%;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
  #accueil header{
    background-position:right bottom;}
#accueil .btn, .btn-defaut{font-size: 14px;}
#accueil .btn-defaut{  background-color: #313832;}
#accueil .ruban{margin-top: 30%;
                margin-bottom: 35%;}
#accueil .compteur div {width: 56px;
                        height:56px;}
#accueil .compteur div h3{      /*chiffre*/
                          font-size: 28px;
                          margin-bottom: 4px;}
#accueil div.compteur{ font-size: 16px;}

#accueil div  p.maj{ font-size: 20px;
                    text-shadow: 1px 1px 2px black, 0 0 2px #0C3183, 0 0 5px #0C3183;
                    color:white;
                    text-align: center;
                    }

#accueil .bg{font-size: 22px;}
#foire .texte_titre h1{font-size: 28px;}
#foire .texte_titre h2{font-size: 24px;}
#foire img{margin-right:8%;}
#foire div.texte h3{font-size: 24px; margin-right: 0;
text-align: center;}
#foire div.texte p{font-size: 20px; margin-right: 0;}

/* élément décoratif, forfaits */
.decoration {
  width: 90%;
}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
  #accueil header{
    background-position: right bottom;}
#accueil .navbar-brand{width:80%;}
#accueil .btn, .btn-defaut{font-size: 12px;}
#accueil .btn-defaut{  background-color: #313832;}
#accueil .ruban{margin-top: 45%;
                margin-bottom: 25%;}
#accueil .compteur div {width: 45px;
                      height:45px;}
#accueil .compteur div h3{      /*chiffre*/
        font-size: 20px;
        margin-bottom: 4px;}

#accueil div.compteur{font-size:12px;  }          /*texte de la case*/


#accueil div  p.maj{ font-size: 16px;
                    text-shadow: 1px 1px 2px black, 0 0 2px #0C3183, 0 0 5px #0C3183;
                    color:white;
                    text-align: center;
                }
#accueil .bg{font-size: 20px;}
#foire .texte_titre h1{font-size: 24px;}  /*Foire*/
#foire .texte_titre h2{font-size: 18px;}
#foire img{margin-right:8%;}
#foire div.texte h3{font-size: 20px; margin-right: 0;
text-align: center;}
#foire div.texte p{font-size: 18px; margin-right: 0;}
}
